.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    z-index: 9999;
    position: absolute;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.container-fluid {
	padding: 70px 50px;
}